

.App{
    text-align: center;
    background: white;
}

*{
margin: 0;
padding: 0;

font-family: sans-serif serif;
}
.RobotMono{
    font-family: 'Roboto Mono', monospace;
}

.Raleway{
    font-family: 'Raleway', sans-serif;
}
.active{
    color: green;
    
}


